body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    padding: 15px 0 15px 0;
}

.navbar-brand{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar-inner {
    background: transparent;
}

.navRuler {
    width: 100%;
    background-color: #ccc;
    margin: 0;
}


.jumbotron {
    background-image: url("https://media.istockphoto.com/id/1194847059/vector/abstract-binary-background-for-hackathon-and-other-digital-events-fallen-zero-numbers-with.jpg?s=612x612&w=0&k=20&c=yNqI8nhsG2aJ-EvI2ygJiGCiKOhxiG8OE5dK9AgKNKg=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 30px;
    position: relative;
    height: 500px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
    margin-top: 60px;
}

.lead {
    width: 40%;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.sectionHeading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 50px auto 25px auto;
}

.card {
    margin-bottom: 30px;
}

.testimonials {
    margin-bottom: 30px;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

hr {
    border: none;
    height: 1px;
    width: 40%;
    margin: 50px auto;
    background-color: #ccc;
}

.underline{
    text-decoration: underline;
}

/* Style for table cells */
th,
td {
    vertical-align: middle !important;
}

thead tr {
    background-color: #4a4b4c;
    color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}